h1 {
    background-color: skyblue;
    color: black;
}

h2 {
    background-color: darkgreen;
    color: azure;
}

ul {
    background-color: antiquewhite;
}
.abc {
    background-color:chocolate;
    color: white;
    font-weight: bold;
}